<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luofc.smss.dao.ArticleFaMapper">
  <resultMap id="BaseResultMap" type="com.luofc.smss.bean.ArticleFa">
    <id column="fid" jdbcType="INTEGER" property="fid" />
    <result column="ftypeid" jdbcType="INTEGER" property="ftypeid" />
    <result column="fhotid" jdbcType="INTEGER" property="fhotid" />
    <result column="ftitle" jdbcType="VARCHAR" property="ftitle" />
    <result column="fdescription" jdbcType="VARCHAR" property="fdescription" />
    <result column="fimages" jdbcType="VARCHAR" property="fimages" />
    <result column="fdate" jdbcType="TIMESTAMP" property="fdate" />
    <result column="fkeywords" jdbcType="VARCHAR" property="fkeywords" />
    <result column="fzhaiyao" jdbcType="VARCHAR" property="fzhaiyao" />
    <result column="fzuozhe" jdbcType="VARCHAR" property="fzuozhe" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.luofc.smss.bean.ArticleFa">
    <result column="fcontent" jdbcType="LONGVARCHAR" property="fcontent" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    fid, ftypeid, fhotid, ftitle, fdescription, fimages, fdate, fkeywords, fzhaiyao, 
    fzuozhe
  </sql>
  <sql id="Blob_Column_List">
    fcontent
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.luofc.smss.bean.ArticleFaExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from community_3
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.luofc.smss.bean.ArticleFaExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from community_3
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from community_3
    where fid = #{fid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from community_3
    where fid = #{fid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.luofc.smss.bean.ArticleFaExample">
    delete from community_3
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.luofc.smss.bean.ArticleFa">
    insert into community_3 (fid, ftypeid, fhotid, 
      ftitle, fdescription, fimages, 
      fdate, fkeywords, fzhaiyao, 
      fzuozhe, fcontent)
    values (#{fid,jdbcType=INTEGER}, #{ftypeid,jdbcType=INTEGER}, #{fhotid,jdbcType=INTEGER}, 
      #{ftitle,jdbcType=VARCHAR}, #{fdescription,jdbcType=VARCHAR}, #{fimages,jdbcType=VARCHAR}, 
      #{fdate,jdbcType=TIMESTAMP}, #{fkeywords,jdbcType=VARCHAR}, #{fzhaiyao,jdbcType=VARCHAR}, 
      #{fzuozhe,jdbcType=VARCHAR}, #{fcontent,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.luofc.smss.bean.ArticleFa">
    insert into community_3
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fid != null">
        fid,
      </if>
      <if test="ftypeid != null">
        ftypeid,
      </if>
      <if test="fhotid != null">
        fhotid,
      </if>
      <if test="ftitle != null">
        ftitle,
      </if>
      <if test="fdescription != null">
        fdescription,
      </if>
      <if test="fimages != null">
        fimages,
      </if>
      <if test="fdate != null">
        fdate,
      </if>
      <if test="fkeywords != null">
        fkeywords,
      </if>
      <if test="fzhaiyao != null">
        fzhaiyao,
      </if>
      <if test="fzuozhe != null">
        fzuozhe,
      </if>
      <if test="fcontent != null">
        fcontent,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fid != null">
        #{fid,jdbcType=INTEGER},
      </if>
      <if test="ftypeid != null">
        #{ftypeid,jdbcType=INTEGER},
      </if>
      <if test="fhotid != null">
        #{fhotid,jdbcType=INTEGER},
      </if>
      <if test="ftitle != null">
        #{ftitle,jdbcType=VARCHAR},
      </if>
      <if test="fdescription != null">
        #{fdescription,jdbcType=VARCHAR},
      </if>
      <if test="fimages != null">
        #{fimages,jdbcType=VARCHAR},
      </if>
      <if test="fdate != null">
        #{fdate,jdbcType=TIMESTAMP},
      </if>
      <if test="fkeywords != null">
        #{fkeywords,jdbcType=VARCHAR},
      </if>
      <if test="fzhaiyao != null">
        #{fzhaiyao,jdbcType=VARCHAR},
      </if>
      <if test="fzuozhe != null">
        #{fzuozhe,jdbcType=VARCHAR},
      </if>
      <if test="fcontent != null">
        #{fcontent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.luofc.smss.bean.ArticleFaExample" resultType="java.lang.Long">
    select count(*) from community_3
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update community_3
    <set>
      <if test="record.fid != null">
        fid = #{record.fid,jdbcType=INTEGER},
      </if>
      <if test="record.ftypeid != null">
        ftypeid = #{record.ftypeid,jdbcType=INTEGER},
      </if>
      <if test="record.fhotid != null">
        fhotid = #{record.fhotid,jdbcType=INTEGER},
      </if>
      <if test="record.ftitle != null">
        ftitle = #{record.ftitle,jdbcType=VARCHAR},
      </if>
      <if test="record.fdescription != null">
        fdescription = #{record.fdescription,jdbcType=VARCHAR},
      </if>
      <if test="record.fimages != null">
        fimages = #{record.fimages,jdbcType=VARCHAR},
      </if>
      <if test="record.fdate != null">
        fdate = #{record.fdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.fkeywords != null">
        fkeywords = #{record.fkeywords,jdbcType=VARCHAR},
      </if>
      <if test="record.fzhaiyao != null">
        fzhaiyao = #{record.fzhaiyao,jdbcType=VARCHAR},
      </if>
      <if test="record.fzuozhe != null">
        fzuozhe = #{record.fzuozhe,jdbcType=VARCHAR},
      </if>
      <if test="record.fcontent != null">
        fcontent = #{record.fcontent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update community_3
    set fid = #{record.fid,jdbcType=INTEGER},
      ftypeid = #{record.ftypeid,jdbcType=INTEGER},
      fhotid = #{record.fhotid,jdbcType=INTEGER},
      ftitle = #{record.ftitle,jdbcType=VARCHAR},
      fdescription = #{record.fdescription,jdbcType=VARCHAR},
      fimages = #{record.fimages,jdbcType=VARCHAR},
      fdate = #{record.fdate,jdbcType=TIMESTAMP},
      fkeywords = #{record.fkeywords,jdbcType=VARCHAR},
      fzhaiyao = #{record.fzhaiyao,jdbcType=VARCHAR},
      fzuozhe = #{record.fzuozhe,jdbcType=VARCHAR},
      fcontent = #{record.fcontent,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update community_3
    set fid = #{record.fid,jdbcType=INTEGER},
      ftypeid = #{record.ftypeid,jdbcType=INTEGER},
      fhotid = #{record.fhotid,jdbcType=INTEGER},
      ftitle = #{record.ftitle,jdbcType=VARCHAR},
      fdescription = #{record.fdescription,jdbcType=VARCHAR},
      fimages = #{record.fimages,jdbcType=VARCHAR},
      fdate = #{record.fdate,jdbcType=TIMESTAMP},
      fkeywords = #{record.fkeywords,jdbcType=VARCHAR},
      fzhaiyao = #{record.fzhaiyao,jdbcType=VARCHAR},
      fzuozhe = #{record.fzuozhe,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.luofc.smss.bean.ArticleFa">
    update community_3
    <set>
      <if test="ftypeid != null">
        ftypeid = #{ftypeid,jdbcType=INTEGER},
      </if>
      <if test="fhotid != null">
        fhotid = #{fhotid,jdbcType=INTEGER},
      </if>
      <if test="ftitle != null">
        ftitle = #{ftitle,jdbcType=VARCHAR},
      </if>
      <if test="fdescription != null">
        fdescription = #{fdescription,jdbcType=VARCHAR},
      </if>
      <if test="fimages != null">
        fimages = #{fimages,jdbcType=VARCHAR},
      </if>
      <if test="fdate != null">
        fdate = #{fdate,jdbcType=TIMESTAMP},
      </if>
      <if test="fkeywords != null">
        fkeywords = #{fkeywords,jdbcType=VARCHAR},
      </if>
      <if test="fzhaiyao != null">
        fzhaiyao = #{fzhaiyao,jdbcType=VARCHAR},
      </if>
      <if test="fzuozhe != null">
        fzuozhe = #{fzuozhe,jdbcType=VARCHAR},
      </if>
      <if test="fcontent != null">
        fcontent = #{fcontent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where fid = #{fid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.luofc.smss.bean.ArticleFa">
    update community_3
    set ftypeid = #{ftypeid,jdbcType=INTEGER},
      fhotid = #{fhotid,jdbcType=INTEGER},
      ftitle = #{ftitle,jdbcType=VARCHAR},
      fdescription = #{fdescription,jdbcType=VARCHAR},
      fimages = #{fimages,jdbcType=VARCHAR},
      fdate = #{fdate,jdbcType=TIMESTAMP},
      fkeywords = #{fkeywords,jdbcType=VARCHAR},
      fzhaiyao = #{fzhaiyao,jdbcType=VARCHAR},
      fzuozhe = #{fzuozhe,jdbcType=VARCHAR},
      fcontent = #{fcontent,jdbcType=LONGVARCHAR}
    where fid = #{fid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.luofc.smss.bean.ArticleFa">
    update community_3
    set ftypeid = #{ftypeid,jdbcType=INTEGER},
      fhotid = #{fhotid,jdbcType=INTEGER},
      ftitle = #{ftitle,jdbcType=VARCHAR},
      fdescription = #{fdescription,jdbcType=VARCHAR},
      fimages = #{fimages,jdbcType=VARCHAR},
      fdate = #{fdate,jdbcType=TIMESTAMP},
      fkeywords = #{fkeywords,jdbcType=VARCHAR},
      fzhaiyao = #{fzhaiyao,jdbcType=VARCHAR},
      fzuozhe = #{fzuozhe,jdbcType=VARCHAR}
    where fid = #{fid,jdbcType=INTEGER}
  </update>
</mapper>